*.lo
*.o
*.gmo
*.la
.deps
.libs
*.orig
*.rej
Makefile
Makefile.m4
Makefile.in*
aclocal.m4
ar-lib
autom4te.cache
config.*
configure
depcomp
install-sh
intltool-*
libtool
ltmain.sh
missing
po/POTFILES
po/stamp-it
stamp-h1
